.headerComponent{
    height: 85vh;
    margin-bottom: 20vh;
    padding: 80px 5px 5px 5px;
    display: flex;
    border-bottom: 1px solid var(--color-text-1);
}

.videoContainer {
    overflow: hidden;
    width: 50%;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.3);
    animation: scaleEffect 4000ms  ease-in 500ms forwards;
}

@keyframes scaleEffect {
    100% {
        transform: scale(1);
    }
}

.subTitleBox {
    height: 100%;
    width: 50%;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 45px;
    /*animation: showUp 0s step-start 4s forwards; */
}

@keyframes showUp {
    100% {
        opacity: 1;
    }
}

.subTitle {
    font-family:  "Gowun Dodum", serif;
    font-size: 45px;
    font-weight: 600;
    font-style: normal;
    line-height: 50px;
    color: #000;
    text-transform: uppercase;
    /* background-color: #000; */
    /* animation: slideUp 1250ms ease-out 1s forwards; */
}

.subContent {
    font-size: 20px;
    font-family:  "Gowun Dodum", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-text-2);
}

.headerList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 30px;
    row-gap: 20px;
    list-style-type: none;
    /* background-color: #fff; */
    /* animation: slideUp 1250ms ease-out 1s forwards; */
}

/* @keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30px);
    }
} */


/*Logos */
.logo_2 {
    position: relative;
    top: 6px;
}

.logo_4 {
    position: relative;
    top: 6px;
}


/*Banners*/
.banner_1{
    top: -10px;
    left: 0;
}
.banner_2{
    top: -10px;
    left: 0;
}
.banner_3{
    top: -150px;
    left: 0;
}

.selected {
    border: 1px solid #000;
    padding: 1px;
}

@media screen and (width<=1024px) {
    .subTitleBox {
        padding-left: 50px;
        row-gap: 35px;
    }
     .subTitle {
        font-size: 35px;
     }
}

@media screen and (width<=768px) {
    .headerComponent {
        height: auto;
        flex-direction: column;
        border-bottom: 0px;
    }
    .video {
        width: 100%;
    }
    .subTitleBox {
        padding: 25px 25px 0px 50px;
        width: 100%;
        row-gap: 20px;
    }
    .subTitle {
        font-size: 27PX;
    }
    .subContent {
        font-size: 17PX;
    }
}