.headerComponent{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid blue;
}

.mainTitle {
    font-family: "Kalam", serif;
    font-size: 100px;
    font-weight: 700;
    font-style: normal;
}

.headerList {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.headerList, .categoriesList {
    list-style-type: none;
}

.categoriesList {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}