.container {
    width: 350px;
}

.imageContainer {
    height: 290px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-border);
}

.image {
    height: 100%;
}

.description {
    height: 87px;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.title {
    font-size: 16px;
    font-weight: 600;
}

.content {
    font-size: 14px;
    color: var(--color-text-1);
}

.price {
    font-size: 14px;
    color: var(--color-text-2);
}