.bannerContainer {
    position: relative;
    height: 350px;
    overflow: hidden;
}

.banner {
    min-width: 1400px;
    width: 100%;
    position: absolute;
    object-fit: cover;
    filter: brightness(0.7) blur(1px);
    z-index: 10;
}

.bannerTitle {
    padding-left: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    color: #fff;
    border-left: 1px solid #fff;
    z-index: 20;
}

.articlesContainer {
    max-width: 1200px;
    width: 100%;
    padding: 120px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 25px;
}

.message {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (width <= 768px) {
    .bannerContainer {
        height: 200px;
    }

    .articlesContainer {
        padding: 50px;
    }

    .bannerTitle {
        padding-left: 10px;
        font-size: 35px;
    }
}