.container {
    height: 200px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTitle {
    font-family: "Kalam", serif;
    font-size: 75px;
    font-weight: 700;
    font-style: normal;
}

@media screen and (width<=768px) {
    .container {
        height: 150px;
        margin-bottom: 100px;
    }
    
    .mainTitle {
        font-size: 50px;
    }
}